extlinux
grub2-aarch64-efi
grub2-ia32-efi
grub2-ia32
grub2-ppc64
grub2-ppc
grub2-x86_64-efi
grub2-x86_64
grub-ia32
grub-x86_64
lilo-ia32
lilo-ia64
silo-sparc64
silo-sparc
uboot-arm5
uboot-arm7
yaboot-ppc64
yaboot-ppc
zipl-s390
zipl-s390x
